@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');


/*.header {
    padding: 10px;
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    color: black;
    font-family: "SUSE", sans-serif;
    z-index: 1000;
    }*/
    
/*HEADER CSS*/    
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(100%); /* Blur effect */
    display: flex;
    align-items: center;
    justify-content:end ;
    z-index: 1000; /* Ensure header is above other content */
    font-family: "SUSE", sans-serif;
    
}

.slogan {
  font-size: 20px;
  font-weight: 400;
  padding-right: 70px;
}
.nav-list li {
  margin: 5px;
  
}

.nav-list a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 5px;
  transition: color 0.5s;
  border-radius: 10px;
  font-family: "SUSE", sans-serif;
  height: 20px;
  background: none;
}

.nav-list a:hover {
  background-color: #3E73F3;
  color: white;
}

.navbar {
    height: 70px;
    padding: 10px;
    
    
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    background: inherit; /* Semi-transparent background */
    backdrop-filter: blur(100%); /* Blur effect */
    list-style: none;
    padding: 0;
    
}

/*BODY CSS*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}



/*MAIN CSS*/

main{
    margin-top: 90px;
    font-family: "SUSE", sans-serif;
    text-align: center;
}    

.main {
    background-color: #f0f0f0;
    
    font-family: "SUSE", sans-serif;
    /*background: radial-gradient(ellipse at top left, #89f7fe, #66a6ff);*/
    background: linear-gradient(to bottom, #ffffff, #3E73F3);
    display: flex;
}

.main_body{
    background-color: #f0f0f0;
    padding: 20px;
    font-family: "SUSE", sans-serif;
    background-color: #3E73F3;
    text-align: center;
}

.main_body h1 {
    font-size: 40px;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.logo-img {
    width: 50px;
    position: absolute;
    top: 15px;
    left: 20px;
    transition: transform 2s;
}
.logo {
  margin-top: 50px;
  font-size: 70px;
  padding-bottom: 80px;
}


.logo-img:hover {
    transform: scale(1.1);
}
.main_photo {
    height: 350px;
    object-fit: cover;
    border-radius: 50px;
    margin: 40px;
    margin-right: 40px;
}

.main_body_text {
    padding: 20px;
    font-size: 20px;
    font-weight: 300;
    margin: 0 auto;
    float: left;
    left: 0px;
    justify-content: first baseline;
    margin-left: 50px;
    text-align: start;
}






.latest_posts {
    background: linear-gradient(to top, #ffffff, #3E73F3);
    padding: 20px;
    display: flex;
    gap: 10px;
}

.post{
    border-radius: 70px;
    text-align: center;
    margin: 30px;
    background-color: #ffffff;
    transition: transform 0.3s;
}

.post:hover{
    transform: scale(1.1);
}

.post h1{
    font-size: 20px;
    font-weight: 300;
    color: #3E73F3;
}

.post p{
    font-size: 15px;
    font-weight: 300;
    color: #000000;
    margin: 40px;
}

.post_img{
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    object-fit: cover;
}

.post_btn{
    background-color: #3E73F3;
    color: white;
    padding: 15px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 300;
    margin: 30px;
    margin-top: 10PX;
    text-decoration: none;
    border: none;
    transition: color 0.5s;
}

.post_btn:hover{
    background-color: #bacef8;
    color: #3E73F3;
}

.sign_but{
    background-color: #3E73F3;
    color: white;
    padding: 15px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 300;
    margin: 30px;
    margin-top: 10PX;
    text-decoration: none;
    border: none;
    transition: color 0.5s;
    width: 200px;
}

.sign_but:hover{
    background-color: #bacef8;
    color: #3E73F3;
}

.text{
    text-align: center;
    font-size: 40px;
    font-size: 36px;
}



/*FOOTER CSS*/

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: "SUSE", sans-serif;
    margin-top: 60px;
    padding-top: 30px;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: none;
}
.footer .social-icons {

    margin: 10px 0;
}
.footer .social-icons a {
    margin: 10px;
    color: white;
}
.footer p {
    margin: 5px 0;
    font-size: 14px;
}

.icon_img {
    width: 30px;
    margin: 10px;
}


/*ABOUT US CSS*/

.about_photo {
    height: 350px;
    object-fit: cover;
    border-radius: 50px;
    margin: 40px;
    margin-right: 100px;
}

.logo_ab{
    margin-top: 80px;
    font-size: 50px;
}

.slogan_ab {
  font-size: 20px;
  font-weight: 350;
  padding-right: 90px;
}

.ab_stor{
    background-color: #f0f0f0;
    padding: 20px;
    font-family: "SUSE", sans-serif;
    background-color: #3E73F3;
    text-align: end;
    text-align: center;

}

.ab_stor h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.ab_info{
    background: linear-gradient(to top, #ffffff, #3E73F3);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.our_story {
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    border-radius: 100px;
    width: 900px;
}


.our_story > div {
    flex: 1 1 50%;
    padding: 20px;
    box-sizing: border-box;
}

.our_story img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    object-fit: cover;
    margin: 30px;
}


.our_story p {
    font-size: 20px;
    text-align: end;
    margin-right: 50px;
    text-align: center;
}

.ab_mis{
    font-family: "SUSE", sans-serif;
    text-align: end;
    text-align: center;
}


.ab_mis h1 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
}



.our_mission {
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    border-radius: 100px;
    width: 900px;
    padding-left: 0px;
}

.our_mission > div {
    flex: 1 1 50%;
    padding: 20px;
    box-sizing: border-box;
}

.our_mission img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    object-fit: cover;
    margin: 40px;
}

.our_mission p {
    font-size: 20px;
    text-align: end;
    margin-right: 50px;
    text-align: center;
    margin-left: 50px;
}



/*log/sign CSS*/
/*log/sign CSS*/

@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input {
    font-family: "SUSE", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;

  
}


.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin_signup {
  
  position: absolute;
  top: 25%;
  left: 50%;
  text-align: center;
  display: flex;

}

form.sign-up-form {
    opacity: 0;
    z-index: 1;
    margin-top: -50px;
  }
  
  form.sign_in_form {
    z-index: 2;
    transform: translateX(80px);
  }


.title {
  font-size: 60px;
  color: #444;
  margin-bottom: 10px;
}

.input_field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px;
  height: 55px;
  border-radius: 55px;
  border: none;
  padding: 20px;
}


.social {
    display: flex;
    padding: 10px;
    font-size: 20px;
    justify-content: center;

}


.social-icon {
    margin: 5px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 10px;
    transition: 0.3s;
}

.social-icon:hover {
  color: #3E73F3;
  border-color: #3E73F3;
}

.btn {
  width: 150px;
  background-color: #3E73F3;
  border: none;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
    background-color: #b4ccf5;
    color: #3E73F3;
}


.container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 50%;
    transform: translateY(-50%);
    background-color: #3E73F3;
    /* background: linear-gradient(to bottom, #Ffa500 , #3E73F3); */
    border-radius: 40%;



    /* transform: translate(-50%, -50%); */
    /* left: 75%; */
    /* width: 50%; */
    transition: 1s 0s ease-in-out;
}

.icon_img {
    width: 30px;
    margin: 10px;
}



.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}
.panels-container{
    position: absolute;
    top: 25%;
}
.left-panel {
    pointer-events: all;
    padding: 3rem 20% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
    margin-top: -180px;

}

.panel .content {
    color: #ffffff;
    /* transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s; */
    text-align: center;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 15px;
  padding: 10px;
}

.btn.transparent {
    color: #ffffff;
  margin: 0;
  background: none;
  border: 2px solid #ffffff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 10px;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
  display: none;
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;


}

.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}


.container.sign-up-mode .signin_signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
  transform: translateX(-600px);

}

.container.sign-up-mode form.sign_in_form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(800px);
  display: block;
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

/*BLOGS CSS*/

.blogs_main{
      background: linear-gradient(to bottom, #ffffff, #3E73F3, #ffffff);

}
.blogs {
    padding: 20px;
    display: flex;
    gap: 10px;
}



.blog_post{
  border-radius: 70px;
  text-align: center;
  margin: 30px;
  background-color: #ffffff;
  transition: transform 0.3s;
}

.blog_post:hover{
  transform: scale(1.1);
}

.blog_post h1{
  font-size: 20px;
  font-weight: 300;
  color: #3E73F3;
}

.blog_post p{
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  margin: 40px;
  max-width: 1000px;
}

.blog_post img{
  margin-top: 40px;
  width: 200px;
  height: 200px;
  border-radius: 50px;
  object-fit: cover;
}

.blog_text{
  max-width: 1000px;
}

.blog_post_btn{
  background-color: #3E73F3;
  color: white;
  padding: 15px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 300;
  margin: 30px;
  margin-top: 10PX;
  text-decoration: none;
  border: none;
  transition: color 0.5s;
}

.blog_post_btn:hover{
  background-color: #bacef8;
  color: #3E73F3;
}


/*PAGE SCROLL CSS*/

.pagination {
  display: flex;
  justify-content: center; /* Center pagination links */
  margin: 20px 0;
  margin: 100px;
}

.pagination ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 5px; /* Add space between each page link */
}

.pagination a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #3E73F3;
  color: white;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: black;
  color: orange;
}

